{% set props = ({
  currentId: "",
  cases: [],
})|merge(props ?: {}) %}

{% set content = {
  name: props.currentId,
  title: "Разработка и запуск интернет-магазина мебели из дерева",
  tags: ['UX/UI', 'E-commerce'],
  task: [
    'У предприятия был корпоративный сайт с некоторой частью ассортимента продукции. Тем временем дистрибьюторы фабрики начали создавать сайты, где можно быть купить мебель онлайн. Тогда «Оримэкс» принял решение запустить свой интернет-магазин и продавать мебель самостоятельно от фабрики. И с этой задачей они пришли к нам. Было важно показать не только детали товаров, но и красоту структуры материала — дерева.',
  ],
  client: 'Оримэкс — мебельная фабрика из Республики Мордовия, которая производит предметы интерьера из массива дерева. Это единственный в России серийный производитель мебели из массива дуба. У компании более 800 представительств в России и странах СНГ.',
} %}

{% set modalContent %}
  <div class="case-content">
    {% include "../cases-main.twig" with { props: content } only %}
    {#  #}

    {#  #}
    {% include "../cases-slider.twig" with { props: props } only %}
    {% include "../../blocks/design-support-request.twig" with {
      props: { id: props.currentID, }
    } %}
  </div>
{% endset %}

{% include "../../ui/modal.twig" with {
  props: {
    id: "case-orimex-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-orimex__body",
    windowClass: "case-orimex",
  }
} only %}