{% set props = ({
  currentId: "",
  cases: [],
})|merge(props ?: {}) %}

{% set content = {
  name: props.currentId,
  title: "Запуск интернет&#8209;магазина мебельной фабрики",
  tags: ['UX/UI', 'E-commerce'],
  linkText: 'sarmamebel.ru',
  linkHref: 'https://sarmamebel.ru/',
  linkPosition: "bottom",
  task: [
    'Несмотря на то, что у клиента был сайт, можно сказать, что требовался запуск интернет-магазина с нуля. Как и любому ритейлеру, «Сарме Мебель» было важно, чтобы их мебель и товары можно было заказать легко и удобно из любого уголка России. На личной онлайн-встрече с клиентом мы обсудили все пожелания и выяснили сложности, с которыми придётся столкнуться. Так у «Сарма Мебель» была очень устаревшая система 1С, к которой не было полноценного доступа. Но мы предложили альтернативные пути решения, которые поддержала команда клиента и активно помогала их реализовать со своей стороны.',
  ],
  client: '«Сарма Мебель» —  мебельная компания с собственным производством, состоящее из трех фабрик полного цикла. Они выпускают матрасы диваны, кресла, шкафы-купе, комоды, прихожие и другую мебель. Салоны представлены в нескольких регионах, но доставку мебели можно оформить по всей России.',
} %}

{% set result = {
  text: [
    "Нам удалось реализовать все пожелания клиента. Благодаря совместной работе и консолидации наших усилий и команды клиенты все сложности, заявленные на этапе первой встречи, были преодолены наилучшим способом. <br> Желаем «Сарма Мебель» дальнейшего развития проекта, в котором мы с удовольствием им сейчас помогаем.",
  ],
  src: "./img/result/dmitriy.png",
  caption: "Дмитрий Гордеев",
  role: "Менеджер проекта"
} %}

{% set modalContent %}
<div class="case-content">
	{% include "../cases-main.twig" with { props: content } only %}
	{#  #}

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Главная страница: когда самое важное сразу перед глазами покупателя</h2>
			<p class="case-sarma-section__text">Эта страница, с которой чаще всего покупатель начинает процесс выбора, и ему нужно показать все преимущества покупки именно в этом интернет-магазине: ассортимент, акции и скидки, условия оплаты и доставки. Именно это видит посетитель сайта «Сарма Мебель», попав на главную страницу.</p>
		</div>
		<div class="case-sarma-section__img">
			<picture>
				<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/main-mob.png 1x,
					./img/cases/sarma/main-mob@2x.png 2x" width="" height="871">
				<img data-src="./img/cases/sarma/main.png" 
          data-src="./img/cases/sarma/main@2x.png 2x" width="" height="1571" alt="" class="lazy">
			</picture>
		</div>
		<div class="container">
			<p class="case-sarma-section__text">Никому не хочется искать товар на сайте. Поэтому мы сделали так, чтобы покупатель мог сразу же увидеть то, что его интересует, и перейти в соответствующий раздел.</p>
		</div>

		<div class="case-sarma-section__img case-sarma-section__img_mb0">
			<div class="case-sarma-section__video-block">
				<div class="case-sarma-section__video-bg">
					<video autoplay playsinline muted loop data-poster="./img/cases/sarma/video-cover.png" class="lazy">
						<source data-src="" type="video/mov">
						<source data-src="" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Каталог, который сам подсказывает наилучший выбор для покупателя</h2>
			<p class="case-sarma-section__text">Например, выбирает покупатель матрас. Вроде бы все стандартные параметры: размеры, жёсткость, цена. Но мы решаем уточнить, а сколько человек будут спать на матрасе. Потому что этот параметр важный, но не все о нем помнят. Теперь клиент уверен, что этот продавец точно все знает о матрасах и о его выборе.</p>
		</div>
		<div class="case-sarma-section__img case-sarma-section__img_mb0">
			<picture>
        <source media="(max-width: 767px)" data-srcset="./img/cases/sarma/catalog-mob.png 1x, 
        ./img/cases/sarma/catalog-mob@2x.png 2x" width="" height="872">
        <img data-src="./img/cases/sarma/catalog.png" 
        data-src="./img/cases/sarma/catalog@2x.png 2x" width="764" height="1568" alt="" class="lazy">
			</picture>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Карточка товара, которая отвечает на все вопросы покупателя о характеристиках продукта</h2>
			<p class="case-sarma-section__text">Карточка товара будто профессиональный продавец в дорогом салоне: она отвечает на все вопросы о продукте.</p>
		</div>
		<div class="case-sarma-section__img">
			<picture>
        <source media="(max-width: 767px)" data-srcset="./img/cases/sarma/card-mob@2x.png" width="" height="900">
        <img data-src="./img/cases/sarma/card.png" 
          data-src="./img/cases/sarma/card@2x.png 2x" width="" height="1392" alt="" class="lazy">
			</picture>
		</div>
		<div class="container">
			<p class="case-sarma-section__text">Конечно, красивые детальные изображения товара.<br>
				На этом этапе для покупателя осталось дело за малым — выбрать размеры, цвет и положить в корзину то, за чем он пришёл в интернет-магазин.</p>
		</div>
		<div class="case-sarma-section__img case-sarma-section__img_mb0">
			<picture>
        <source media="(max-width: 767px)" data-srcset="./img/cases/sarma/card-2-mob.png 1x, 
          ./img/cases/sarma/card-2-mob@2x.png 2x" width="" height="900">
        <img data-src="./img/cases/sarma/card-2.png" 
          data-src="./img/cases/sarma/card-2@2x.png 2x" width="" height="1392" alt="" class="lazy">
			</picture>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Корзина: оформить, нельзя оставить</h2>
			<p class="case-sarma-section__text">К этому шагу у покупателя в корзине все буквальное самое нужно и необходимое, поэтому оставить без дела ее уже не представляется возможным.</p>
		</div>
		<div class="case-sarma-section__img case-sarma-section__img_mb0">
			<picture>
        <source media="(max-width: 767px)" data-srcset="./img/cases/sarma/basket-mob.png 1x, 
          ./img/cases/sarma/basket-mob@2x.png 2x" width="" height="1263">
        <img data-src="./img/cases/sarma/basket.png" 
          data-src="./img/cases/sarma/basket@2x.png 2x" width="" height="1831" alt="" class="lazy">
			</picture>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Оформление заказа — «последняя миля», которую покупатель проходит легко и непринужденно</h2>
			<p class="case-sarma-section__text">Тот этап, где можно «споткнуться», но только не в случае интернет-магазина «Сарма Мебель». Каждый шаг для покупателя понятен и логичен. Все данные заполняются легко и буквально в один клик.</p>
		</div>
		<div class="case-sarma-section__img case-sarma-section__img_mb0">
			<picture>
      <source media="(max-width: 767px)" data-srcset="./img/cases/sarma/order-mob.png 1x, 
        ./img/cases/sarma/order-mob@2x.png 2x" width="" height="1263">
      <img data-src="./img/cases/sarma/order.png" 
        data-src="./img/cases/sarma/order@2x.png 2x" width="" height="1831" alt="" class="lazy">
			</picture>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Личный кабинет</h2>
			<p class="case-sarma-section__text">В личном кабинете клиент может наблюдать, как движутся его заказы и сколько бонусов он может потратить на следующие покупки.</p>
		</div>
		<div class="case-sarma-section__img">
			<picture>
      <source media="(max-width: 767px)" data-srcset="./img/cases/sarma/cabinet-1-mob.png 1x, 
        ./img/cases/sarma/cabinet-1-mob@2x.png 2x" width="" height="223">
      <img data-src="./img/cases/sarma/cabinet-1.png" 
        data-src="./img/cases/sarma/cabinet-1@2x.png 2x" width="" height="938" alt="Главная страница" class="lazy">
			</picture>
		</div>
		<div class="container">
			<p class="case-sarma-section__text">Войти с паролем или просто по смс — выбор за покупателем.</p>
		</div>
		<div class="case-sarma-section__img case-sarma-section__img_mb0">
			<picture>
        <source media="(max-width: 767px)" data-srcset="./img/cases/sarma/cabinet-2-mob.png 1x, 
          ./img/cases/sarma/cabinet-2-mob@2x.png 2x" width="" height="1477">
        <img data-src="./img/cases/sarma/cabinet-2.png" 
          data-src="./img/cases/sarma/cabinet-2@2x.png 2x" width="" height="1539" alt="Главная страница" class="lazy">
			</picture>
		</div>
	</section>


	{#  #}
	{% include '../../blocks/result.twig' with { props: result} only %}
	{% include "../cases-slider.twig" with { props: props } only %}
	{% include "../../blocks/design-support-request.twig" with {
      props: { id: props.currentID, }
    } %}</div>
{% endset %}{% include "../../ui/modal.twig" with {
  props: {
    id: "case-sarma-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-sarma__body",
    windowClass: "case-sarma",
  }
} only %}
