{% set props = ({
  currentId: "",
  cases: [],
})|merge(props ?: {}) %}

{% set content = {
  name: props.currentId,
  title: "Запуск интернет&#8209;магазина мебельной фабрики",
  tags: ['UX/UI', 'E-commerce'],
  linkText: 'sarmamebel.ru',
  linkHref: 'https://sarmamebel.ru/',
  linkPosition: "bottom",
  task: [
    'Несмотря на то, что у клиента был сайт, можно сказать, что требовался запуск интернет-магазина с нуля. Как и любому ритейлеру, «Сарме Мебель» было важно, чтобы их мебель и товары можно было заказать легко и удобно из любого уголка России. На личной онлайн-встрече с клиентом мы обсудили все пожелания и выяснили сложности, с которыми придётся столкнуться. Так у «Сарма Мебель» была очень устаревшая система 1С, к которой не было полноценного доступа. Но мы предложили альтернативные пути решения, которые поддержала команда клиента и активно помогала их реализовать со своей стороны.',
  ],
  client: '«Сарма Мебель» —  мебельная компания с собственным производством, состоящее из трех фабрик полного цикла. Они выпускают матрасы диваны, кресла, шкафы-купе, комоды, прихожие и другую мебель. Салоны представлены в нескольких регионах, но доставку мебели можно оформить по всей России.',
} %}

{% set result = {
  text: [
    "Нам удалось реализовать все пожелания клиента. Благодаря совместной работе и консолидации наших усилий и команды клиенты все сложности, заявленные на этапе первой встречи, были преодолены наилучшим способом. <br> Желаем «Сарма Мебель» дальнейшего развития проекта, в котором мы с удовольствием им сейчас помогаем.",
  ],
  src: "./img/result/anna.png",
  caption: "Анна Шульженко",
  role: "Менеджер проекта"
} %}

{% set modalContent %}
  <div class="case-content">
    {% include "../cases-main.twig" with { props: content } only %}
    {#  #}

    {#  #}
    {% include '../../blocks/result.twig' with { props: result} only %}
    {% include "../cases-slider.twig" with { props: props } only %}
    {% include "../../blocks/design-support-request.twig" with {
      props: { id: props.currentID, }
    } %}
  </div>
{% endset %}

{% include "../../ui/modal.twig" with {
  props: {
    id: "case-sarma-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-sarma__body",
    windowClass: "case-sarma",
  }
} only %}