{% set props = ({
  currentId: "",
  cases: [],
})|merge(props ?: {}) %}

{% set content = {
  name: props.currentId,
  title: "Разработка и запуск интернет-магазина мебели из дерева",
  tags: ['UX/UI', 'E-commerce'],
  task: [
    'У предприятия был корпоративный сайт с некоторой частью ассортимента продукции. Тем временем дистрибьюторы фабрики начали создавать сайты, где можно быть купить мебель онлайн. Тогда «Оримэкс» принял решение запустить свой интернет-магазин и продавать мебель самостоятельно от фабрики. И с этой задачей они пришли к нам. Было важно показать не только детали товаров, но и красоту структуры материала — дерева.',
  ],
  client: 'Оримэкс — мебельная фабрика из Республики Мордовия, которая производит предметы интерьера из массива дерева. Это единственный в России серийный производитель мебели из массива дуба. У компании более 800 представительств в России и странах СНГ.',
} %}

{% set review = {
  text: [
    "Работой довольна очень!",
    "Выкатили проект e-com за фантастический срок 3 месяца. Запуск в срок, договорились 20 ноября и 20 ноября мы забрали себе на тест сайт — вообще звезды сошлись, что уложились)) Но, конечно, не звезды, за этим стоит сплоченная плотная работа команды IBRUSH и нас! Могу отметить, что у меня сформировалось глубокое доверие и чувство «плеча». То есть приходишь с задачей. Даже не до конца докрутил ТЗ, а то и вообще без него с фразой «как будто что-то не так» и получаешь грамотный, профессиональный взгляд, оценку и решение! Могу отметить, что на моменте за 2 дня до релиза у меня в команде сильно занервничал инхаус бек-разработчик, сказал, что не доволен беком у IBRUSH, НО в релиз шли с полной поддержкой IBRUSH и мнение внутреннего разработчика сменилось на большущий ПЛЮС. Потому что в релиз вели вместе, помогали и супер-оперативно фиксили все сложности переноса. В итоге за 2 дня полностью стабилизировали проект и не потеряли в заказах, а приросли!",
    "Обратная связь от пользователей в большей части положительная, что для релиза и смены логики – достижение!Желаю IBRUSH процветания, поддержания такого же заряда в команде. Спасибо",
  ],
  src: "./img/review/ulia.jpeg",
  caption: "Петрова Юлия",
  role: 'Руководитель отдела маркетинга АО «Птицефабрика "Северная"»',
  logo: "./img/review/logo-nashenka.svg",
} %}

{% set result = {
  text: [
    "Вся эта большая работа была проделана в короткий срок – 3,5 мес. Огромный интернет-магазин за такой сжатый срок. Мы начали с аналитики и CJM. Изучили 10 конкурентов по 55 параметрам. Опрашивали пользователей, уточняли их пожелания. По итогам мы тщательно проанализировали все полученные данные. На основе этого сформировали задачи, гипотезы и их приоритизацию.",
    "Мы учли все пожелания клиента и постарались их органично вписать в проект. Сейчас функционал интернет магазина отвечает требованиям самых дотошных потребителей."
  ],
  src: "./img/result/anna.png",
  caption: "Анна Шульженко",
  role: "Менеджер проекта"
} %}

{% set modalContent %}
  <div class="case-content">
    {% include "../cases-main.twig" with { props: content } only %}
    {#  #}
      <section class="case-orimex-section">
        <div class="container">
          <h2 class="case-orimex-section__title">Главная страница</h2>
          <p class="case-orimex-section__text">На ней покупатель сразу видит все ключевые разделы интернет-магазина. Тут же он может ознакомиться с каталогом, скидками и акциями. </p>
        </div>

        <div class="case-orimex-section__img-block">
          <div class="case-orimex-section__content-block">
            <video class="case-orimex-section__video" autoplay playsinline muted loop width="823" poster="./img/cases/orimex/replace-video.png">
              <source src="" type="video/mov">
              <source src="" type="video/mp4">
            </video>

            <div class="case-orimex-section__bg-picture">
              <picture>
                <source media="(max-width: 767px)" 
                srcset="./img/cases/orimex/1-mobile.png 1x,
                ./img/cases/orimex/1-mobile@2x.png 2x" width="" height="269">
                <img class="case-orimex-section__img" src="./img/cases/orimex/1.png" 
                srcset="./img/cases/orimex/1@2x.png 2x" width="" height="886" alt="Фоновое изображение" loading="lazy">
              </picture>
            </div>  
          </div>
        </div> 
      </section>

      <section class="case-orimex-section">
        <div class="container">
          <h2 class="case-orimex-section__title">Каталог</h2>
          <p class="case-orimex-section__text">Кстати,  некоторые особенности внутренней политики освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны.</p>
        </div>
        <div class="case-orimex-section__img-block">
          <picture>
            <source media="(max-width: 767px)" 
            srcset="./img/cases/orimex/2-mobile.png 1x,
            ./img/cases/orimex/2-mobile@2x.png 2x" width="" height="1221">
            <img class="case-orimex-section__img" src="./img/cases/orimex/2.png" 
            srcset="./img/cases/orimex/2@2x.png 2x" width="" height="676" alt="Каталог" loading="lazy">
          </picture>
        </div>  
      </section>

      <section class="case-orimex-section">
        <div class="container">
          <h2 class="case-orimex-section__title">Карточка товара</h2>
          <p class="case-orimex-section__text">Кстати, некоторые особенности внутренней политики освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны.</p>
          <div class="case-orimex-section__img-block">
            <picture>
              <source media="(max-width: 767px)" 
              srcset="./img/cases/orimex/3-mobile.png 1x,
              ./img/cases/orimex/3-mobile@2x.png 2x" width="343" height="517">
              <img class="case-orimex-section__img" src="./img/cases/orimex/3.png" 
              srcset="./img/cases/orimex/3@2x.png 2x" width="1366" height="1756" alt="Карточка товара" loading="lazy">
            </picture>
          </div>
          <div class="case-orimex-section__img-block">  
            <picture>
              <source media="(max-width: 767px)" 
              srcset="./img/cases/orimex/3-1-mobile.png 1x,
              ./img/cases/orimex/3-1-mobile@2x.png 2x" width="" height="2126">
              <img class="case-orimex-section__img" src="./img/cases/orimex/3-1.png" 
              srcset="./img/cases/orimex/3-1@2x.png 2x" width="" height="1231" alt="Карточка товара" loading="lazy">
            </picture>
          </div>
        </div>  
      </section>

      <section class="case-orimex-section">
        <div class="container">
          <h2 class="case-orimex-section__title">Выбор ткани и тонировки</h2>
          <p class="case-orimex-section__text">Кстати, некоторые особенности внутренней политики освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны</p>
        </div>
        <div class="case-orimex-section__img-block">
          <picture>
            <source media="(max-width: 767px)" 
            srcset="./img/cases/orimex/4-mobile.png 1x,
            ./img/cases/orimex/4-mobile@2x.png 2x" width="" height="958">
            <img class="case-orimex-section__img" src="./img/cases/orimex/4.png" 
            srcset="./img/cases/orimex/4@2x.png 2x" width="" height="758" alt="Выбор ткани и тонировки" loading="lazy">
          </picture>
        </div>  
      </section>

      <section class="case-orimex-section">
        <div class="container">
          <h2 class="case-orimex-section__title">Коллекции</h2>
          <p class="case-orimex-section__text">Кстати, некоторые особенности внутренней политики освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, смешаны</p>
        </div>
        <div class="case-orimex-section__img-block">
          <picture>
            <source media="(max-width: 767px)" 
            srcset="./img/cases/orimex/5-mobile.png 1x,
            ./img/cases/orimex/5-mobile@2x.png 2x" width="" height="2095">
            <img class="case-orimex-section__img" src="./img/cases/orimex/5.png" 
            srcset="./img/cases/orimex/5@2x.png 2x" width="" height="1351" alt="Коллекции" loading="lazy">
          </picture>
        </div>  
      </section>

      <section class="case-orimex-section">
        <div class="container">
          <div class="case-orimex-section__block">
            <div>
              <h2 class="case-orimex-section__title">Личный кабинет</h2>
              <p class="case-orimex-section__text">Господа, высококачественный прототип будущего проекта обеспечивает актуальность экспериментов, поражающих по своей масштабности и грандиозности. Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня предоставляет широкие возможности для соответствующих условий активизации.</p>        
            </div>
            <div class="case-orimex-section__block-hide">
              <picture>
                <img class="case-orimex-section__img" src="./img/cases/orimex/6.png" 
                srcset="./img/cases/orimex/6@2x.png 2x" width="664" height="628" alt="Личный кабинет" loading="lazy">
              </picture>
            </div>  
          </div>
          <div class="case-orimex-section__img-block">  
            <picture>
              <source media="(max-width: 767px)" 
              srcset="./img/cases/orimex/6-1-mobile.png 1x,
              ./img/cases/orimex/6-1-mobile@2x.png 2x" width="" height="1164">
              <img class="case-orimex-section__img" src="./img/cases/orimex/6-1.png" 
              srcset="./img/cases/orimex/6-1@2x.png 2x" width="" height="628" alt="Личный кабинет" loading="lazy">
            </picture>
          </div>
        </div>  
      </section>

      <section class="case-orimex-section">
        <div class="container">
          <div class="case-orimex-section__position-container">
            <h2 class="case-orimex-section__title">Оформление заказа</h2>
            <p class="case-orimex-section__text">Таким образом, высокое качество позиционных исследований играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.</p>
          </div>
        </div>
        <div class="case-orimex-section__img-block">
          <picture>
            <source media="(max-width: 767px)" 
            srcset="./img/cases/orimex/7-mobile.png 1x,
            ./img/cases/orimex/7-mobile@2x.png 2x" width="" height="509">
            <img class="case-orimex-section__img" src="./img/cases/orimex/7.png" 
            srcset="./img/cases/orimex/7@2x.png 2x" width="" height="1628" alt="Оформление заказа" loading="lazy">
          </picture>
        </div>
      </section>

      <section class="case-orimex-sectione">
        <div class="container">
          <h2 class="case-orimex-section__title">Другие страницы</h2>
          <p class="case-orimex-section__text">Таким образом, высокое качество позиционных исследований играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.</p>
          <div class="case-orimex-section__img-block">  
            <picture>
              <source media="(max-width: 767px)" 
              srcset="./img/cases/orimex/8-mobile.png 1x,
              ./img/cases/orimex/8-mobile@2x.png 2x" width="" height="755">
              <img class="case-orimex-section__img" src="./img/cases/orimex/8.png" 
              srcset="./img/cases/orimex/8@2x.png 2x" width="" height="3037" alt="Другие страницы" loading="lazy">
            </picture>
          </div>       
        </div>
        <div class="case-orimex-section__img-block">
          <picture>
            <source media="(max-width: 767px)" 
            srcset="./img/cases/orimex/8-1-mobile.png 1x,
            ./img/cases/orimex/8-1-mobile@2x.png 2x" width="" height="890">
            <img class="case-orimex-section__img" src="./img/cases/orimex/8-1.png" 
            srcset="./img/cases/orimex/8-1@2x.png 2x" width="" height="1050" alt="Другие страницы" loading="lazy">
          </picture>
        </div>  
      </section>
    {#  #}
    {% include '../../blocks/result.twig' with { props: result} only %}
    {% include '../../blocks/review.twig' with  { props: review} only %}

    {% include "../cases-slider.twig" with { props: props } only %}
    {% include "../../blocks/design-support-request.twig" with {
      props: { id: props.currentID, }
    } %}
  </div>
{% endset %}

{% include "../../ui/modal.twig" with {
  props: {
    id: "case-orimex-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-orimex__body",
    windowClass: "case-orimex",
  }
} only %}