{% set props = ({
  currentId: "",
  cases: [],
})|merge(props ?: {}) %}

{% set content = {
  name: props.currentId,
  title: "Запуск интернет&#8209;магазина мебельной фабрики",
  tags: ['UX/UI', 'E-commerce'],
  linkText: 'sarmamebel.ru',
  linkHref: 'https://sarmamebel.ru/',
  linkPosition: "bottom",
  task: [
    'Несмотря на то, что у клиента был сайт, можно сказать, что требовался запуск интернет-магазина с нуля. Как и любому ритейлеру, «Сарме Мебель» было важно, чтобы их мебель и товары можно было заказать легко и удобно из любого уголка России. На личной онлайн-встрече с клиентом мы обсудили все пожелания и выяснили сложности, с которыми придётся столкнуться. Так у «Сарма Мебель» была очень устаревшая система 1С, к которой не было полноценного доступа. Но мы предложили альтернативные пути решения, которые поддержала команда клиента и активно помогала их реализовать со своей стороны.',
  ],
  client: '«Сарма Мебель» —  мебельная компания с собственным производством, состоящее из трех фабрик полного цикла. Они выпускают матрасы диваны, кресла, шкафы-купе, комоды, прихожие и другую мебель. Салоны представлены в нескольких регионах, но доставку мебели можно оформить по всей России.',
} %}

{% set result = {
  text: [
    "Нам удалось реализовать все пожелания клиента. Благодаря совместной работе и консолидации наших усилий и команды клиенты все сложности, заявленные на этапе первой встречи, были преодолены наилучшим способом. <br> Желаем «Сарма Мебель» дальнейшего развития проекта, в котором мы с удовольствием им сейчас помогаем.",
  ],
  src: "./img/result/anna.png",
  caption: "Анна Шульженко",
  role: "Менеджер проекта"
} %}

{% set modalContent %}
<div class="case-content">
	{% include "../cases-main.twig" with { props: content } only %}
	{#  #}

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Главная страница: когда самое важное сразу перед глазами покупателя</h2>
			<p class="case-sarma-section__text">Эта страница, с которой чаще всего покупатель начинает процесс выбора, и ему нужно показать все преимущества покупки именно в этом интернет-магазине: ассортимент, акции и скидки, условия оплаты и доставки. Именно это видит посетитель сайта «Сарма Мебель», попав на главную страницу.</p>

			<div class="case-sarma-section__main-img">
				<picture>
					<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/main-mob.png" width="" height="208">
					<img data-src="./img/cases/sarma/main.png" width="" height="875" alt="Главная страница" class="lazy">
				</picture>
			</div>
			<div class="case-sarma-section__img-block">
				<div class="case-sarma-section__img">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/iphone-1-mob.png" width="" height="327">
						<img data-src="./img/cases/sarma/iphone-1.png" width="764" height="686" alt="" class="lazy">
					</picture>
				</div>
				<div class="case-sarma-section__img">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/macbook-mob.png" width="" height="327">
						<img data-src="./img/cases/sarma/macbook.png" width="764" height="686" alt="" class="lazy">
					</picture>
				</div>
			</div>
			<p class="case-sarma-section__text">Никому не хочется искать товар на сайте. Поэтому мы сделали так, чтобы покупатель мог сразу же увидеть то, что его интересует, и перейти в соответствующий раздел.</p>

			<div class="case-sarma-section__video-block">
				<div class="case-sarma-section__video-bg">
					<video autoplay playsinline muted loop data-poster="./img/cases/sarma/video-cover.png" class="lazy">
						<source data-src="" type="video/mov">
						<source data-src="" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Каталог, который сам подсказывает наилучший выбор для покупателя</h2>
			<p class="case-sarma-section__text">Например, выбирает покупатель матрас. Вроде бы все стандартные параметры: размеры, жёсткость, цена. Но мы решаем уточнить, а сколько человек будут спать на матрасе. Потому что этот параметр важный, но не все о нем помнят. Теперь клиент уверен, что этот продавец точно все знает о матрасах и о его выборе.</p>

			<div class="case-sarma-section__img-block case-sarma-section__img-block_mb10">
				<div class="case-sarma-section__img">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/catalog-1-mob.png" width="" height="327">
						<img data-src="./img/cases/sarma/catalog-1.png" width="764" height="683" alt="" class="lazy">
					</picture>
				</div>
				<div class="case-sarma-section__img">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/catalog-2-mob.png" width="" height="327">
						<img data-src="./img/cases/sarma/catalog-2.png" width="764" height="683" alt="" class="lazy">
					</picture>
				</div>
			</div>

			<div class="case-sarma-section__main-img case-sarma-section__main-img_mb0">
				<picture>
					<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/catalog-3-mob.png" width="" height="208">
					<img data-src="./img/cases/sarma/catalog-3.png" width="" height="875" alt="Главная страница" class="lazy">
				</picture>
			</div>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Карточка товара, которая отвечает на все вопросы покупателя о характеристиках продукта</h2>
			<p class="case-sarma-section__text">Карточка товара будто профессиональный продавец в дорогом салоне: она отвечает на все вопросы о продукте.</p>

			<div class="case-sarma-section__img-block case-sarma-section__img-block_dnone">

				<div class="case-sarma-section__img">
					<img data-src="./img/cases/sarma/card-1.png" width="763" height="1392" alt="" class="lazy">
				</div>
				<div class="case-sarma-section__imgs">
					<img data-src="./img/cases/sarma/card-2.png" width="765" height="536" alt="" class="lazy">
					<img data-src="./img/cases/sarma/card-3.png" width="765" height="388" alt="" class="lazy">
					<img data-src="./img/cases/sarma/card-4.png" width="765" height="488" alt="" class="lazy">
				</div>
			</div>

			<div class="case-sarma-section__card-img-full">
				<img data-src="./img/cases/sarma/card-full-mob.png" width="" height="1392" alt="" class="lazy">
			</div>
			<p class="case-sarma-section__text">Конечно, красивые детальные изображения товара.<br> На этом этапе для покупателя осталось дело за малым — выбрать размеры, цвет и положить в корзину то, за чем он пришёл в интернет-магазин.</p>

			<div class="case-sarma-section__main-img">
				<picture>
					<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/sofa-mob.png" width="" height="207">
					<img data-src="./img/cases/sarma/sofa.png" width="" height="730" alt="" class="lazy">
				</picture>
			</div>
			<div class="case-sarma-section__img-block case-sarma-section__img-block_mb0">
				<div class="case-sarma-section__img">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/card-5-mob.png" width="" height="327">
						<img data-src="./img/cases/sarma/card-5.png" width="764" height="683" alt="" class="lazy">
					</picture>
				</div>
				<div class="case-sarma-section__img">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/card-6-mob.png" width="" height="327">
						<img data-src="./img/cases/sarma/card-6.png" width="764" height="683" alt="" class="lazy">
					</picture>
				</div>
			</div>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Корзина: оформить, нельзя оставить</h2>
			<p class="case-sarma-section__text">К этому шагу у покупателя в корзине все буквальное самое нужно и необходимое, поэтому оставить без дела ее уже не представляется возможным.</p>

			<div class="case-sarma-section__main-img">
				<picture>
					<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/workshop-mob.png" width="" height="209">
					<img data-src="./img/cases/sarma/workshop.png" width="" height="730" alt="Главная страница" class="lazy">
				</picture>
			</div>
			<div class="case-sarma-section__img-block case-sarma-section__img-block_mb0">
				<div class="case-sarma-section__img">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/basket-1-mob.png" width="" height="522">
						<img data-src="./img/cases/sarma/basket-1.png" width="762" height="1091" alt="" class="lazy">
					</picture>
				</div>
				<div class="case-sarma-section__imgs">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/basket-2-mob.png" width="" height="199">
						<img data-src="./img/cases/sarma/basket-2.png" width="766" height="416" alt="" class="lazy">
					</picture>
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/basket-3-mob.png" width="" height="318">
						<img data-src="./img/cases/sarma/basket-3.png" width="766" height="685" alt="" class="lazy">
					</picture>
				</div>
			</div>
		</div>
	</section>

	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Оформление заказа — «последняя миля», которую покупатель проходит легко и непринужденно</h2>
			<p class="case-sarma-section__text">Тот этап, где можно «споткнуться», но только не в случае интернет-магазина «Сарма Мебель». Каждый шаг для покупателя понятен и логичен. Все данные заполняются легко и буквально в один клик.</p>

			<div class="case-sarma-section__img-block case-sarma-section__img-block_mb10">
				<div class="case-sarma-section__imgs">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/order-1-mob.png" width="" height="199">
						<img data-src="./img/cases/sarma/order-1.png" width="766" height="417" alt="" class="lazy">
					</picture>
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/order-2-mob.png" width="" height="372">
						<img data-src="./img/cases/sarma/order-2.png" width="766" height="780" alt="" class="lazy">
					</picture>
				</div>
				<div class="case-sarma-section__imgs">
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/order-3-mob.png" width="" height="336">
						<img data-src="./img/cases/sarma/order-3.png" width="766" height="682" alt="" class="lazy">
					</picture>
					<picture>
						<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/order-4-mob.png" width="" height="254">
						<img data-src="./img/cases/sarma/order-4.png" width="766" height="1385" alt="" class="lazy">
					</picture>
				</div>
			</div>

			<div class="case-sarma-section__main-img">
				<picture>
					<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/order-5-mob.png" width="" height="915">
					<img data-src="./img/cases/sarma/order-5.png" width="" height="730" alt="Главная страница" class="lazy">
				</picture>
			</div>

		</div>
	</section>
	<section class="case-sarma-section">
		<div class="container">
			<h2 class="case-sarma-section__title">Личный кабинет</h2>
			<p class="case-sarma-section__text">В личном кабинете клиент может наблюдать, как движутся его заказы и сколько бонусов он может потратить на следующие покупки.</p>

			<div class="case-sarma-section__main-img case-sarma-section__main-img_mb80">
				<picture>
					<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/cabinet-1-mob.png" width="" height="915">
					<img data-src="./img/cases/sarma/cabinet-1.png" width="" height="730" alt="Главная страница" class="lazy">
				</picture>
			</div>

			<p class="case-sarma-section__text">Войти с паролем или просто по смс — выбор за покупателем.</p>

			<div class="case-sarma-section__img-block">
				<div class="case-sarma-section__imgs">
					<div class="case-sarma-section__img">
						<picture>
							<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/cabinet-2-mob.png" width="" height="366">
							<img data-src="./img/cases/sarma/cabinet-2.png" width="764" height="764" alt="" class="lazy">
						</picture>
					</div>
					<div class="case-sarma-section__img">
						<picture>
							<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/cabinet-4-mob.png" width="" height="366">
							<img data-src="./img/cases/sarma/cabinet-4.png" width="764" height="764" alt="" class="lazy">
						</picture>
					</div>
				</div>
				<div class="case-sarma-section__imgs">
					<div class="case-sarma-section__img">
						<picture>
							<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/cabinet-3-mob.png" width="" height="366">
							<img data-src="./img/cases/sarma/cabinet-3.png" width="764" height="764" alt="" class="lazy">
						</picture>
					</div>
					<div class="case-sarma-section__img">
						<picture>
							<source media="(max-width: 767px)" data-srcset="./img/cases/sarma/cabinet-5-mob.png" width="" height="366">
							<img data-src="./img/cases/sarma/cabinet-5.png" width="764" height="764" alt="" class="lazy">
						</picture>
					</div>
				</div>

			</div>
		</div>
	</section>


	{#  #}
	{% include '../../blocks/result.twig' with { props: result} only %}
	{% include "../cases-slider.twig" with { props: props } only %}
	{% include "../../blocks/design-support-request.twig" with {
      props: { id: props.currentID, }
    } %}
</div>
{% endset %}

{% include "../../ui/modal.twig" with {
  props: {
    id: "case-sarma-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-sarma__body",
    windowClass: "case-sarma",
  }
} only %}
