{% set props = ({
  currentId: "",
  cases: [],
})|merge(props ?: {}) %}

{% set content = {
  name: props.currentId,
  title: "Castorama: перенос с Magento на Битрикс, много интеграций и разработка PIM-системы на PimСore",
  tags: ['UX/UI', 'E-commerce'],
  linkText: 'www.castorama.ru',
  linkHref: 'https://www.castorama.ru/',
  linkPosition: "bottom",
  task: [
    'Перед нами стояло 2 задачи: <br> внедрение PIM-системы на основе PimCore, <br> перенос сайта клиента с CMS Magento на CMS Битрикс в краткие сроки не только с сохранением всего функционала, но и доработками в рамках расширения его возможностей.',
  ],
  client: 'Oдна из крупнейших в России сетей гипермаркетов по продаже товаров для дома, дачи и ремонта.',
} %}

{% set review = {
  text: [
    "Работой довольна очень!",
    "Компания ООО «Айбраш» зарекомендовала себя в качестве надёжного, высококлассного и добросовестного партнёра. ООО «Касторама РУС» благодарит ООО «Айбраш» за плодотворное и успешное сотрудничество.",
  ],
  src: "./img/review/castorama.png",
  caption: "Серов Владимир Владимирович",
  role: 'Руководитель направления e-commerce',
  logo: "./img/review/logo-castorama.svg",
} %}

{% set modalContent %}


  <div class="case-content">
    {% include "../cases-main.twig" with { props: content } only %}
    {# Контент #}

    {#  #}
    {% include '../../blocks/review.twig' with  { props: review} only %}
    {% include "../cases-slider.twig" with { props: props } only %}
    {% include "../../blocks/design-support-request.twig" with {
      props: { id: props.currentID, }
    } %}
  </div>
{% endset %}

{% include "../../ui/modal.twig" with {
  props: {
    id: "case-kixbox-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-kixbox__body",
    windowClass: "case-kixbox",
  }
} only %}