{% set props = ({
  currentId: "",
  cases: [],
})|merge(props ?: {}) %}

{% set content = {
  name: props.currentId,
  title: "Редизайн интернет&#8209;магазина бытовой техники Monsher",
  tags: ['Аналитика', 'UX/UI', 'E-commerce', 'Разработка'],
  linkText: 'monsherrus.ru',
  linkHref: 'https://monsherrus.ru/',
  linkPosition: "top",
  task: [
    'Сделать редизайн сайта, используя лучшие практики UX/UI и современные тренды. Особое внимание нужно было уделить повышению информативности карточек',
  ],
  client: 'Российский бренд Monsher создаёт качественную бытовую технику для дома, используя современные технологии и нестандартные решения',
} %}

{% set result = {
  text: [
    'Ребята обратились к нас с четким запросом — сделать так, чтобы сайт продавал и продавал хорошо. У Моншер ранее уже был сайт, он выступал витриной и знакомил пользователей с компание, на нем можно было проникнуться философией и эстетикой бренда (к слову родом из Франции). Но конверсия была низкой — основной проблемой были пользовательсие сценарии.',
    'Мы глобально переработали юзабилити, и основные флоу. Спроектировали полноценный е-ком, и личным кабинетом, чекаутами, удобной корзиной и персонализированными карточками (добавили рич-контент, отзывы, инструкции). <br> Переработали каталог, теперь он отвечает всем правилам современного е-кома (категории, подкатегории, удобные фильтры и дательно проработанная карточка в выдаче). И конечно же все это по принципу mobile first.',
    "Было сделано больше 300 макетов, а самое главное в какие сроки! Этап аналитики и прототипа был пройден за 1 месяца, а дизайн со всеми адаптивами и брейкпоинтами, ui-kit'ом за тот же один месяц. От идеи до реализации — 2 месяца",
    'Теперь на сайте намного проще сделать "Верный выбор"!',
    'Мы не стоим на месте, как любой хороший продукт, Моншер развивается и нуждается в развитии, а мы продолжаем его развивать и насыщать новыми полезными функциями.',
  ],
  src: "./img/result/andrey.png",
  caption: "Андрей Скляр",
  role: "Lead-дизайнер"
} %}

{% set modalContent %}
  <div class="case-content">
    {% include "../cases-main.twig" with { props: content } only %}
    {#  #}

    {#  #}
    {% include '../../blocks/result.twig' with { props: result} only %}
    {% include "../cases-slider.twig" with { props: props } only %}
    {% include "../../blocks/design-support-request.twig" with {
      props: { id: props.currentID, }
    } %}
  </div>
{% endset %}

{% include "../../ui/modal.twig" with {
  props: {
    id: "case-monsher-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-monsher__body",
    windowClass: "case-monsher",
  }
} only %}