{% set modalContent %}
  <section class="case-nashenka__content"></section>
  {% include "../../blocks/design-support-request.twig" with {
    props: { id: "nashenka", }
  } %}
{% endset %}

{% include "../../ui/modal.twig" with {
  props: {
    id: "case-nashenka-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-nashenka__body",
    windowClass: "case-nashenka",
  }
} only %}