{% set props = ({
  currentId: "",
  cases: [],
})|merge(props ?: {}) %}

{% set content = {
  name: props.currentId,
  title: "Редизайн и запуск интернет&#8209;магазина продуктов",
  tags: ['UX/UI', 'E-commerce'],
  linkText: 'nasha.severnaya.ru',
  linkHref: 'https://nasha.severnaya.ru/',
  linkPosition: "top",
  task: [
    'Фабрика «Северная» расширила ассортимент предлагаемой продукции. Она начала сотрудничество с различными производствами и добавила их продукты на онлайн-прилавок своего интернет-магазина.',
    'Для этого клиент создал новый бренд «Нашенька», под которым требовалось запустить интернет-магазин. Было важно сделать редизайн, учитывая фирменный стиль и гайд-бук клиента, а также его пожелания и его покупателей и органично вписать все это в проект.',
    'Все это требовалось сделать в сжатые сроки (3,5 месяца).',
  ],
  client: '«Нашенька» – новый бренд фабрики «Северная», которая входит в топ-10 по производству мяса цыплят-бройлеров в РФ.',
} %}


{% set review = {
  text: [
    "Работой довольна очень!",
    "Выкатили проект e-com за фантастический срок 3 месяца. Запуск в срок, договорились 20 ноября и 20 ноября мы забрали себе на тест сайт — вообще звезды сошлись, что уложились)) Но, конечно, не звезды, за этим стоит сплоченная плотная работа команды IBRUSH и нас! Могу отметить, что у меня сформировалось глубокое доверие и чувство «плеча». То есть приходишь с задачей. Даже не до конца докрутил ТЗ, а то и вообще без него с фразой «как будто что-то не так» и получаешь грамотный, профессиональный взгляд, оценку и решение! Могу отметить, что на моменте за 2 дня до релиза у меня в команде сильно занервничал инхаус бек-разработчик, сказал, что не доволен беком у IBRUSH, НО в релиз шли с полной поддержкой IBRUSH и мнение внутреннего разработчика сменилось на большущий ПЛЮС. Потому что в релиз вели вместе, помогали и супер-оперативно фиксили все сложности переноса. В итоге за 2 дня полностью стабилизировали проект и не потеряли в заказах, а приросли!",
    "Обратная связь от пользователей в большей части положительная, что для релиза и смены логики – достижение!Желаю IBRUSH процветания, поддержания такого же заряда в команде. Спасибо",
  ],
  src: "./img/review/ulia.jpeg",
  caption: "Петрова Юлия",
  role: 'Руководитель отдела маркетинга АО «Птицефабрика "Северная"»',
  logo: "./img/review/logo-nashenka.svg",
} %}

{% set result = {
  text: [
    "Вся эта большая работа была проделана в короткий срок – 3,5 мес. Огромный интернет-магазин за такой сжатый срок. Мы начали с аналитики и CJM. Изучили 10 конкурентов по 55 параметрам. Опрашивали пользователей, уточняли их пожелания. По итогам мы тщательно проанализировали все полученные данные. На основе этого сформировали задачи, гипотезы и их приоритизацию.",
    "Мы учли все пожелания клиента и постарались их органично вписать в проект. Сейчас функционал интернет магазина отвечает требованиям самых дотошных потребителей."
  ],
  src: "./img/result/anna.png",
  caption: "Анна Шульженко",
  role: "Менеджер проекта"
} %}

{% set modalContent %}
  <div class="case-content">
    {% include "../cases-main.twig" with { props: content } only %}
    {#  #}

    {#  #}
    {% include '../../blocks/result.twig' with { props: result} only %}
    {% include '../../blocks/review.twig' with  { props: review} only %}

    {% include "../cases-slider.twig" with { props: props } only %}
    {% include "../../blocks/design-support-request.twig" with {
      props: { id: props.currentID, }
    } %}
  </div>
{% endset %}

{% include "../../ui/modal.twig" with {
  props: {
    id: "case-nashenka-modal",
    class: "case-modal",
    children: modalContent,
    bodyClass: "case-nashenka__body",
    windowClass: "case-nashenka",
  }
} only %}