.cases-slider {
  padding-top: 8rem;

  @include breakpoint-down($xxl) {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  @include breakpoint-down($lg) {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  @include breakpoint-down($sm) {
    padding-top: 16rem;
    padding-bottom: 6rem;
  }

  // &__container {
  // }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;

    @include breakpoint-down($xxl) {
      margin-bottom: 3.2rem;
    }

    @include breakpoint-down($lg) {
      margin-bottom: 2.4rem;
    }

    @include breakpoint-down($sm) {
      margin-bottom: 4.8rem;
    }
  }

  &__title {
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1.2;

    @include breakpoint-down($lg) {
    }
    @include breakpoint-down($sm) {
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    & > :not(:last-child) {
      margin-right: 0.8rem;
    }

    @include breakpoint-down($lg) {
      display: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 1.2rem;
    background-color: #f4f4f6;

    & > svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__body {
    margin-right: -2.6rem;

    @include breakpoint-down($lg) {
      margin-right: 0;
    }
  }

  &__slide {
    padding-right: 2.6rem;

    @include breakpoint-down($lg) {
      padding-right: 0;
    }

    &:not(:last-child) {
      @include breakpoint-down($lg) {
        padding-bottom: 0.8rem;
      }

      @include breakpoint-down($sm) {
        padding-bottom: 1.6rem;
      }
    }

    &-inner {
      padding: 2rem;
      position: relative;
      aspect-ratio: 1 / 1;
      grid-column: span 2;
      z-index: 1;
      background-color: #eee;
      cursor: pointer;

      @include hover {
        background-color: #fff;
      }

      @include breakpoint-down($lg) {
        padding: 1.2rem;
      }

      @include breakpoint-down($sm) {
        padding: 2.4rem;
      }
    }

    &-title {
      font-size: 1.8rem;
      line-height: 1.2;
      max-width: 52rem;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: contain;
      z-index: -1;
    }
  }
}
