.header {
  padding: 3.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include breakpoint-down($lg) {
    padding: 1.6rem 4rem;
    align-items: center;
  }

  @include breakpoint-down($sm) {
    padding: 3.2rem;
  }

  &__logo {
    display: block;
    width: 14rem;
    height: 3rem;
    margin-right: 13rem;

    @include breakpoint-down($lg) {
      width: 9rem;
      height: 1.878rem;
    }

    @include breakpoint-down($sm) {
      width: 18rem;
      height: 3.756rem;
    }

    & svg {
      width: 100%;
      height: 100%;
    }

    @include hover {
      opacity: 0.7;
    }
  }

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__nav {
    @include breakpoint-down($lg) {
      // display: none;
      position: fixed;
      display: flex;
      justify-content: center;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      padding: 1.6rem;
      background-color: #fff;
    }

    @include breakpoint-down($lg) {
      padding: 2.8rem;
    }

    &-list {
      display: flex;
      flex-direction: column;

      & > :not(:last-child) {
        margin-bottom: 1.6rem;

        @include breakpoint-down($lg) {
          margin-bottom: 0;
          margin-right: 3.2rem;
        }

        @include breakpoint-down($sm) {
          margin-right: 4.8rem;
        }
      }

      @include breakpoint-down($lg) {
        flex-direction: row;
      }
    }

    &-item {
      display: flex;
      justify-content: flex-start;
    }

    &-link {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.2;

      @include breakpoint-down($lg) {
        font-size: 1.8rem;
      }

      @include breakpoint-down($sm) {
        font-size: 3.2rem;
      }

      @include breakpoint-up($lg) {
        &::after {
          position: absolute;
          content: "";
          bottom: 0.1em;
          left: 50%;
          width: 100%;
          transform: translate(-50%, 0);
          border-bottom: 1px solid currentColor;
          transition: $transition-duration;
        }

        &:hover {
          &::after {
            width: 0;
          }
        }
      }
    }
  }

  &__phone {
    margin-right: 3.8rem;

    @include breakpoint-down($xxl) {
      margin-right: 3.2rem;
    }

    @include breakpoint-down($lg) {
      display: none;
    }
  }

  &__link {
    font-size: 1.4rem;
    line-height: 1.2;

    @include hover {
      color: #c8c8c8;
    }

    @include breakpoint-down($lg) {
      display: none;
    }
  }

  &__mode-label {
    font-size: 1.4rem;
    line-height: 1.2;
    color: #c8c8c8;
  }

  &__brief {
    margin-left: 9.2rem;

    @include breakpoint-down($xxl) {
      margin-left: 3.2rem;
    }

    @include breakpoint-down($lg) {
      margin-left: 0;
    }
  }
}
