.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  // padding: 1.6rem 4rem;
  padding: 1.7rem 4rem 1.5rem;
  line-height: 1;

  @include breakpoint-down($lg) {
    padding: 1.6rem 3rem;
    // padding: 1.7rem 3rem 1.5rem;
  }

  @include breakpoint-down($sm) {
    font-size: 3rem;
    padding: 2.9rem 3.2rem;
    // padding: 3.1rem 4rem 2.7rem;
    border-radius: 6rem;
  }

  &-light {
    color: $text;
    background-color: #efefef;

    @include hover {
      color: #fff;
      background-color: $text;
    }
  }

  &-dark {
    color: #fff;
    background-color: $text;

    @include hover {
      color: $text;
      background-color: #efefef;
    }
  }

  &:disabled {
    background-color: #c8c8c8;
    color: #efefef;
    pointer-events: none;
  }
}
