<section class="cap">
  <div class="cap__container container">
    <h1 class="cap__title">
      Запускаем и развиваем e&#8209;commerce:<br><span>исследуем, проектируем, кодим, интегрируем и обучаем</span>
    </h1>
  </div>
</section>