<section class="data-driven">
  <div class="container data-driven__container">
    <div class="data-driven__inner">
      <h2 class="data-driven__title"><span>Data-driven</span> подход к проектированию и дизайну интернет-магазинов</h2>
      <div class="data-driven__process swiper js-swiper-overflow">
        <div class="swiper-wrapper">
          <ul class="data-driven__list swiper-slide">
            <li class="data-driven__stage">Аналитика</li>
            <li class="data-driven__stage">Проектирование</li>
            <li class="data-driven__stage">Дизайн</li>
            <li class="data-driven__stage">Разработка</li>
            <li class="data-driven__stage">Интеграции</li>
          </ul>
        </div>
      </div>
      <p class="data-driven__text">Благодаря аналитике и исследованиям конечный проект не является точкой зрения какого-то дизайнера, он основывается на данных</p>
      <div class="data-driven__decor">
        <svg class="data-driven__decor-item top-left"  width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.9697 15.4707V26.2863H13.5624V15.4707C13.4694 15.4822 13.3649 15.4937 13.2603 15.4937C13.1673 15.4822 13.0627 15.4822 12.9697 15.4707Z" fill="#E04F39"/>
          <path d="M13.5624 10.8177V0.00195312H12.9697V10.8177C13.0627 10.8062 13.1673 10.7947 13.2718 10.7947C13.3648 10.7947 13.4694 10.8062 13.5624 10.8177Z" fill="#E04F39"/>
          <path d="M15.6075 13.4323H26.5195V12.8447H15.6075C15.6192 12.9369 15.6308 13.0406 15.6308 13.1443C15.6308 13.2364 15.6192 13.3401 15.6075 13.4323Z" fill="#E04F39"/>
          <path d="M10.9121 12.8447H0.00012207V13.4323H10.9121C10.9005 13.3401 10.8888 13.2364 10.8888 13.1328C10.9005 13.0406 10.9005 12.9369 10.9121 12.8447Z" fill="#E04F39"/>
          <path d="M11.8183 11.2898L4.10208 3.6416L3.68372 4.05625L11.3999 11.7045C11.5161 11.5432 11.6556 11.405 11.8183 11.2898Z" fill="#E04F39"/>
          <path d="M14.7119 14.9987L22.4281 22.6469L22.8465 22.2323L15.1302 14.584C15.014 14.7337 14.863 14.872 14.7119 14.9987Z" fill="#E04F39"/>
          <path d="M15.1302 11.7045L22.8465 4.05625L22.4281 3.6416L14.7119 11.2898C14.863 11.405 15.014 11.5432 15.1302 11.7045Z" fill="#E04F39"/>
          <path d="M11.3889 14.5723L3.67273 22.2204L4.0911 22.6351L11.8073 14.9869C11.6562 14.8717 11.5168 14.7335 11.3889 14.5723Z" fill="#E04F39"/>
        </svg>
        <svg class="data-driven__decor-item top-right" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.4538 29.1699V49.5623H25.5712V29.1699C25.3959 29.1916 25.1988 29.2134 25.0016 29.2134C24.8263 29.1916 24.6291 29.1916 24.4538 29.1699Z" fill="#202A44"/>
          <path d="M25.5712 20.3966V0.00390625H24.4538V20.3966C24.6291 20.3749 24.8262 20.3532 25.0234 20.3532C25.1987 20.3532 25.3959 20.3749 25.5712 20.3966Z" fill="#202A44"/>
          <path d="M29.4268 25.3266H50.0009V24.2188H29.4268C29.4487 24.3925 29.4706 24.588 29.4706 24.7835C29.4706 24.9573 29.4487 25.1528 29.4268 25.3266Z" fill="#202A44"/>
          <path d="M20.574 24.2188H-0.00012207V25.3266H20.574C20.5521 25.1528 20.5301 24.9573 20.5301 24.7618C20.5521 24.588 20.5521 24.3925 20.574 24.2188Z" fill="#202A44"/>
          <path d="M22.2825 21.2866L7.73391 6.86621L6.9451 7.64802L21.4937 22.0684C21.7128 21.7644 21.9757 21.5038 22.2825 21.2866Z" fill="#202A44"/>
          <path d="M27.7383 28.2799L42.2869 42.7004L43.0757 41.9186L28.527 27.498C28.3079 27.7804 28.0231 28.041 27.7383 28.2799Z" fill="#202A44"/>
          <path d="M28.527 22.0684L43.0757 7.64802L42.2869 6.86621L27.7383 21.2866C28.0231 21.5038 28.3079 21.7644 28.527 22.0684Z" fill="#202A44"/>
          <path d="M21.4731 27.4766L6.92456 41.8969L7.71337 42.6787L22.2619 28.2584C21.9771 28.0412 21.7142 27.7806 21.4731 27.4766Z" fill="#202A44"/>
        </svg>
        <svg class="data-driven__decor-item bottom-right" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.5476 0.0644531H24.43V49.7049H25.5476V0.0644531Z" fill="#202A44"/>
          <path d="M50.0002 25.4406V24.3311H0.000152588V25.4406H50.0002Z" fill="#202A44"/>
          <path d="M7.7031 6.94824L6.91284 7.73281L42.2678 42.8337L43.0581 42.0491L7.7031 6.94824Z" fill="#202A44"/>
          <path d="M43.0673 7.72403L42.2771 6.93945L6.92212 42.0404L7.71233 42.825L43.0673 7.72403Z" fill="#202A44"/>
          <path d="M24.9969 29.3315C27.4658 29.3315 29.4673 27.3445 29.4673 24.8933C29.4673 22.4422 27.4658 20.4551 24.9969 20.4551C22.528 20.4551 20.5266 22.4422 20.5266 24.8933C20.5266 27.3445 22.528 29.3315 24.9969 29.3315Z" fill="#202A44"/>
        </svg>
        <img class="data-driven__decor-item bottom-left" src="./img/data-driven/man.png" alt="">
        <img class="data-driven__decor-item center-right" src="./img/data-driven/woman.png" alt="">
      </div>
    </div>
  </div>
</section>
