<section class="key-stages">
  <div class="container key-stages__container">
    <h2 class="key-stages__title">Выделяем 2&nbsp;ключевых этапа</h2>
    <div class="key-stages__items">
      <div class="key-stages__card">
        <div class="key-stages__card-header">
          <p class="key-stages__card-title"><b>#1 Аналитика и UX/UI-дизайн</b></p>
        </div>

        <ul class="key-stages__card-column">
          <li class="key-stages__card-item">Установочные kick-off встречи</li>
          <li class="key-stages__card-item">Конкурентный анализ (функционально)</li>
          <li class="key-stages__card-item">Проектирование CJM и персон</li>
          <li class="key-stages__card-item">Исследования и глубинные интервью</li>
          <li class="key-stages__card-item">Разработка интерактивного прототипа</li>
          <li class="key-stages__card-item">Согласование дизайн-концепции проекта</li>
          <li class="key-stages__card-item">Сборка всех дизайн-макетов + UI-guide</li>
        </ul>
        <div class="key-stages__footer">
          <div class="key-stages__footer-inner">
            <p class="key-stages__time">8-10 недель</p>
            <p class="key-stages__price">800 000 ₽</p>
            <p class="key-stages__label" style="background-color: #A27AF8;">Fixedprice</p>
          </div>
        </div>
      </div>
      <div class="key-stages__card">
        <div class="key-stages__card-header">
          <p class="key-stages__card-title">#2 Разработка и интеграции</p>
          <img src="./img/key-stages/dev.png" alt="" class="key-stages__card-icons">
        </div>
        <div class="key-stages__block">
          <p class="key-stages__subtitle">Backend</p>
          <ul class="key-stages__card-row">
            <li class="key-stages__card-item">1C-Битрикс</li>
            <li class="key-stages__card-item">Node.JS/Strapi</li>
            <li class="key-stages__card-item">Symfony</li>
            <li class="key-stages__card-item">Laravel</li>
          </ul>
        </div>

        <div class="key-stages__block">
          <p class="key-stages__subtitle">Front-end</p>
          <ul class="key-stages__card-row">
            <li class="key-stages__card-item">Vue</li>
            <li class="key-stages__card-item">React</li>
          </ul>
        </div>

        <div class="key-stages__block">
          <p class="key-stages__subtitle">Database</p>
          <ul class="key-stages__card-row">
            <li class="key-stages__card-item">MariaDB</li>
            <li class="key-stages__card-item">Clickhouse</li>
            <li class="key-stages__card-item">PostgreSQL</li>
            <li class="key-stages__card-item">MySQL</li>
          </ul>
        </div>

        <div class="key-stages__block">
          <p class="key-stages__subtitle">Integration</p>
          <ul class="key-stages__card-row">
            <li class="key-stages__card-item">1C</li>
            <li class="key-stages__card-item">Мой склад</li>
            <li class="key-stages__card-item">Амо</li>
            <li class="key-stages__card-item">Б24</li>
            <li class="key-stages__card-item">RetailCRM</li>
            <li class="key-stages__card-item">+14</li>
          </ul>
        </div>

        <div class="key-stages__footer">
          <div class="key-stages__footer-inner">
            <p class="key-stages__time">3-4 месяца</p>
            <p class="key-stages__price">~ 3 млн. ₽</p>
            <p class="key-stages__label" style="background-color: #758C67;">Time & Material</p>
          </div>
        </div>
      </div>

      <div class="key-stages__total">
        <p class="key-stages__text">Мы выполняем первый этап работ по <span style="background-color: #A27AF8;">Fixedprice</span> и максимально сокращаем его бюджет, чтобы у вас была возможность проверить нас в деле.</p>
        <p class="key-stages__text">Разработку и интегации мы делаем строго в формате <span style="background-color: #758C67;">Time & Material</span></p>
        <p class="key-stages__text">Этот формат с ежемесячной оплатой только фактических трудозатрат по согласованным ставкам за час.</p>
        <p class="key-stages__text">Хотите узнать, почему так выгоднее и лучше именно для вашего проекта?</p>

        <div class="key-stages__footer">
          <div class="key-stages__footer-inner">
            <img src="./img/key-stages/pavel.png" alt="" class="key-stages__photo">
            <p class="key-stages__caption">Пришлите рассказ о своем проекте на почту
              <a href="welcome@ibrush.ru" class="key-stages__mail js-clipboard-mail">
              <span>welcome@ibrush.ru</span>
              {% include '../ui/icon.twig' with {
                props: {
                  href: "copy",
                  class: "key-stages__copy",
              } } only %}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
