<section class="location">
  <div class="location__container container">
    <div class="location__info">
      <p class="location__text">Наша команда находится в&nbsp;Москве, часть сотрудников в регионах, работаем на&nbsp;весь&nbsp;Мир!</p>
      <ul class="location__coats-arms">
        {% for i in 1..9 %}
          <li class="location__item">
            <img src="./img/location/emblem-0{{i}}.png" alt="" class="location__emblem">
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="location__map">
      <svg width="1022" height="575" viewBox="0 0 1022 575" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="45.2838" cy="120.697" r="8.02794" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="24.9731" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="6.34519" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="24.9731" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="342.55" r="6.34519" fill="black"/>
        <circle cx="6.34519" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="379.806" r="6.34519" fill="black"/>
        <circle cx="99.4858" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="99.4858" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="24.9731" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="24.9731" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="80.8569" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="43.6011" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="6.34519" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="6.34519" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="62.2285" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="24.9731" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="24.9731" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="342.55" r="6.34519" fill="black"/>
        <circle cx="118.114" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="118.114" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="136.741" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="268.039" r="6.34519" fill="#E04F39"/>
        <circle cx="155.369" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="323.923" r="6.34519" fill="black"/>
        <circle cx="155.369" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="155.369" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="173.997" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="212.154" r="6.34519" fill="black"/>
        <circle cx="192.625" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="305.294" r="6.34519" fill="black"/>
        <circle cx="192.625" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="268.039" r="6.34519" fill="black"/>
        <circle cx="229.88" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.508" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="323.021" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="341.649" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="286.666" r="6.34519" fill="black"/>
        <circle cx="285.766" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="285.766" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="63.1304" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="63.1304" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="44.5024" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="63.1304" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="44.5024" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="193.527" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="975.002" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="975.848" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="975.848" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="975.848" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="994.475" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="994.475" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="994.475" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="994.475" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="1013.1" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="1013.1" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="1013.1" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="1013.1" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="1013.1" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="1013.1" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="1013.1" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="994.475" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="994.475" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="63.1304" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="44.5024" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="25.8745" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="25.8745" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="7.24656" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="63.1304" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="44.5024" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="25.8745" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="7.24656" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="25.8745" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="212.154" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="975.002" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="993.629" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="230.783" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="249.411" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="268.039" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.418" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="286.666" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="305.294" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="323.923" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="342.55" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.418" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="714.209" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="695.582" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="676.954" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="658.325" cy="547.458" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="639.698" cy="547.458" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="621.07" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="602.442" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="583.813" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="565.185" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="546.557" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="527.929" cy="547.458" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="509.301" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="490.673" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="472.046" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="453.417" cy="547.458" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="434.79" cy="547.458" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="732.837" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="751.464" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="770.094" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="788.722" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="807.35" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="825.978" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="547.458" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="547.458" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="566.086" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="361.179" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="379.806" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="491.575" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="919.117" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="937.745" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="956.374" cy="472.947" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="398.435" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="510.203" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="417.063" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="528.831" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="435.691" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="547.458" r="6.34519" fill="#EFEFEF"/>
        <circle cx="900.49" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="881.861" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="863.233" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="844.605" cy="454.319" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="174.898" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="360.277" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="378.905" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="397.533" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="416.161" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="304.394" cy="156.271" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="192.625" cy="137.643" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="211.253" cy="119.014" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="229.88" cy="100.386" r="6.34519" fill="#EFEFEF"/>
        <circle cx="267.138" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
        <circle cx="248.509" cy="81.7593" r="6.34519" fill="#EFEFEF"/>
      </svg>
    </div>
  </div>
</section>