<section class="pros">
  <div class="container pros__container">
    <div class="pros__grid">
      <div class="pros__column">
        <p class="pros__column-title">Выделенный менеджер</p>
        <p class="pros__column-text">С нашей стороны персональный PM, который будет в курсе всех деталей вашего проекта.</p>
        <p class="pros__column-text">С ним можно общаться по телефону, в мессенджере или по почте. 
        <img src="./img/pros/manager.png" alt="" class="pros__column-img">
      </div>
      <div class="pros__row">
        <p class="pros__row-text">Работаем с кодом проекта в </p>
        <img src="./img/pros/logo-gitlab.png" alt="Логотип: GitLab" class="pros__row-img">
      </div>
      <div class="pros__column">
        <p class="pros__column-title">Недельные спринты</p>
        <p class="pros__column-text">Работаем спринтами. Чаще всего недельными. В начале каждой недели — планёрка недельного спринта, на которой обсуждаем результаты прошлой недели и планируем следующую.</p>
        <img src="./img/pros/sprint.png" alt="" class="pros__column-img">
      </div>
      <div class="pros__row">
        <p class="pros__row-text">Управляем задачами и проектом в </p>
        <img src="./img/pros/logo-planfix.png" alt="Логотип: Planfix" class="pros__row-img">
      </div>
    </div>
  </div>
</section>