<section class="team" id="about">
  <div class="team__container container">
    <h2 class="team__title">В команде 35 аналитиков, дизайнеров, разработчиков, тестировщиков и менеджеров</h2>
    <picture>
      <source media="(max-width: 767px)" srcset="./img/team/team-mobile.png">
      <img src="./img/team/team.png" alt="Команда ibrush" class="team__img">
    </picture>
    <p class="team__text">У нас 12-летний опыт и экспертиза в дизайне и разработке, помогаем запускать и перезапускать проекты, строим итеративный цикл аутсорс-разработки для средних и крупных клиентов РФ.</p>
  </div>
</section>